<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Llamar Mapita.js -->
    <script src="Mapita.js"></script>
    <!-- Llamar a los estilos -->
    <link rel="stylesheet" href="AcercaDe.css">
    <!-- Llamar al título -->
    <title>Aerodrone Colombia</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acerca de</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQWExHEIp6vaFQBcxwKs0tZ0k4FSN_EQ0&callback=initMap" async defer></script>
  <script>
 


  </script>
</head>
<body>
  <div class="container">
    <h1 class="centered">Acerca de</h1>
    <p class="justified centered">Nuestra empresa de Aerodrone Colombia se enfoca en brindar soluciones innovadoras en el ámbito de la aviación no tripulada. Nos especializamos en la creación de proyectos aéreos, incluyendo fotogrametría, mapeo de terrenos, inspecciones industriales, videografía aérea y servicios de entrega de paquetes. Además, ofrecemos asesoría especializada en el uso de drones y su integración en diversas industrias, permitiéndole maximizar su potencial y obtener resultados excepcionales. Contamos con un equipo altamente capacitado y tecnología de vanguardia, garantizando la calidad y eficiencia en cada servicio que brindamos. Confíe en DronesVision para llevar sus proyectos a nuevas alturas y alcanzar sus objetivos de manera efectiva y segura.</p>
    <h2 class="centered">Ubicación</h2>
    <p class="justified centered">Los espacios utilizados en el mapa son para propositos ilustrativos y no reflejan una ubicación real de una empresa en concreto.</p>
    <div class="map-container">
      <div id="map"></div>
    </div>
    <a href="index.html" class="btn centered">Principal</a>
  </div>
</body>
</html>
